<%= form_for :session, url: login_path, html: {class: "login-box"} do |f| %>
    <h1>Login</h1>
    <div class="textbox">
      <i class="envelope icon"></i>
      <%= f.email_field :email, placeholder: "E-mail address" %>
    </div>
    <div class="textbox">
      <i class="lock icon"></i>
      <%= f.password_field :password, class: "password", placeholder: "Password" %>
      <span class='eye-area'>
        <i id='eyeSlash' class="eye slash icon"></i>
        <i id='eye' class="eye icon"></i>
      </span>
    </div>
  
    <%= f.submit "Log in", class: "btn" %>
    <div class="buttom-text">
      New to us? <%= link_to 'Sign up', new_user_path %>
    </div>
<% end %>