<% @chatrooms.each do |chatroom| %>
  <div class="ui tab" data-tab="chatroom_<%= chatroom.id %>">
    <% new_messages(chatroom.id).each do |message| %>
      <% if message.user_id == current_user.id %>
        <div class="message-row you-message">
          <div class="message-content">
            <div class="message-text">
              <%= message.content %>
            </div>
            <div class="message-time">
              <%= message.created_at.strftime('%b %d　%R') %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="message-row other-message">
          <div class="message-content">
            <% if message.user.photo? %>
              <%= image_tag message.user.photo.url, size: '45x45'%>
            <% else %>
              <%= image_tag 'default-profile-photo.png'%>
            <% end %>
            <div class="message-text">
              <%= message.content %>
            </div>
            <div class="message-time">
              <%= message.created_at.strftime('%b %d　%R') %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
