<div class="chat-container">
  <div class="user-info-container">
    <div class="ui basic image label">
      <% if current_user.photo? %>
        <%= image_tag current_user.photo.url class: "ui image" %>
      <% else %>
        <%= image_tag 'default-profile-photo.png', class: "ui circular image" %>
      <% end %>
      <%= current_user.username %>
      <%= hidden_field_tag :currentUserId, current_user.id %>
    </div>
    <a>
      <span>
        <i class="info circle large icon"
          data-content="Account Info"></i>
      </span>
    </a>
    <%= link_to  logout_path, method: :delete do %>
      <span>
        <i class="sign out alternate large icon link" 
          data-content="Log out"></i>
      </span>
    <% end %>
  </div>
  <div class="conversation-list">
    <% if @chatrooms.present? %>
       <%= render 'conversation_list', chatrooms: @chatrooms %>
    <% end %>
  </div>
  <div class="new-message-container">
    <%= link_to users_path, class: "addModalBtn", remote: true do %>
      <i class="plus circle icon"></i>
    <% end %>
    <div class="new-message">New Conversation</div>
  </div>
  <div class="chat-title">
    <i class="angle left icon" id="leftIcon">
        <div class="msg-count"></div>
      </i>
    <span>
      <% if @chatrooms.present? %>
        <%= @chatrooms.first.user.username %>
      <% end %>
    </span>
    <div class="ui icon top left pointing dropdown" id="conversationMenu" <% if @chatrooms.blank? %>style="display:none"<% end %>>
      <i class="ellipsis vertical alternate icon"></i>
      <div class="menu">
        <div class="item" id="deleteConversation"><i class="trash right floated icon"></i>
        Delete Conversation</div>
      </div>
    </div>
  </div>
  <div class="chat-message-list">
    <% if @chatrooms.present? %>
      <%= render 'chatrooms/message', chatrooms: @chatrooms %>
    <% end %>
  </div>
  <%= form_for @message, url: messages_path, remote: true do |f| %>
    <label >
      <i class="images outline large icon"></i>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', id: "imageIcon" %>
    </label>
    <%= f.text_area :content, placeholder: "send a message", rows: 1, maxlength: 1000 %>
    <% if @chatrooms.present? %>
      <%= f.hidden_field :chatroom_id, value: @chatrooms.first.id %>
    <% else %>
    <%= f.hidden_field :chatroom_id, value: "" %>
    <% end %>
    <%= f.submit id: "submitMessage", style: "display: none" %>
  <% end %>
</div>

<%= render 'user_info_modal', user: current_user %>
<%= render 'delete_user_modal', user: current_user %>
<% if @chatrooms.present? %>
  <%= render 'delete_conversation_modal', chatroom: @chatrooms.first %>
<% else %>
  <%= render 'delete_conversation_modal', chatroom: 'id' %>
<% end %>
<div class="ui modal" id="addModal"></div>