<div class="chat-container">
  <div class="user-info-container">
    <div class="ui basic image label">
      <% if current_user.photo? %>
        <%= image_tag current_user.photo.url class: "ui image" %>
      <% else %>
        <%= image_tag 'default-profile-photo.png', class: "ui circular image" %>
      <% end %>
      <%= current_user.username %>
    </div>
    <a>
      <span>
        <i class="info circle large icon"
          data-content="User Info"></i>
      </span>
    </a>
    <%= link_to  logout_path, method: :delete do %>
      <span>
        <i class="sign out alternate large icon link" 
          data-content="Log out"></i>
      </span>
    <% end %>
    <input type="hidden" id="currentUserId" value="<%= current_user.id %>">
  </div>
  <div class="conversation-list">
    <% @chatrooms.each.with_index(1) do |chatroom, idx| %>
      <a class="conversation item <% if idx == 1 %>active<% end %>" 
        data-tab="chatroom_<%= chatroom.id %>">
        <% if chatroom.user.photo? %>
          <%= image_tag chatroom.user.photo.url %>
        <% else %>
          <%= image_tag 'default-profile-photo.png' %>
        <% end %>
        <div class="title-text">
          <%= chatroom.user.username %>
          <input type="hidden" id="chatroom_idx_<%= idx %>" value="<%= chatroom.id %>">
        </div>
        <% if chatroom.content.present? || chatroom.image.present? %>
          <div class="created-date">
            <%= message_created_at(chatroom.msg_created_at) %>
          </div>
          <div class="conversation-message">
            <%= truncate(chatroom.content, length: 30) %>
          </div>
        <% end %>
      </a>
    <% end %>
  </div>
  <div class="new-message-container">
    <%= link_to users_path, class: "addModalBtn", remote: true do %>
      <i class="plus circle icon"></i>
    <% end %>
    <div class="new-message">New Conversation</div>
  </div>
  <div class="chat-title">
    <span>
      <% if @chatrooms.present? %>
        <%= @chatrooms.first.user.username %>
      <% end %>
    </span>
    <i class="trash alternate large icon"></i>
  </div>
  <div class="chat-message-list">
    <%= render 'chatrooms/message', chatrooms: @chatrooms %>
  </div>
  <%= form_for @message, url: messages_path, remote: true do |f| %>
    <label >
      <i class="images outline large icon"></i>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', id: "imageIcon" %>
    </label>
    <%= f.text_area :content, placeholder: "send a message", rows: "1" %>
    <% if @chatrooms.present? %>
      <%= f.hidden_field :chatroom_id, value: @chatrooms.first.id %>
    <% end %>
    <%= f.submit id: "submitMessage", style: "display: none" %>
  </div>
  <% end %>
</div>

<%= render 'user_info_modal', user: @user %>
<div class="ui modal" id="addModal"></div>