<div class="chat-container">
  <div class="search-container">
    <input type="text" placeholder="Search">
  </div>
  <div class="conversation-list">
    <% @chatrooms.each do |chatroom| %>
    <div class="conversation">
      <%= image_tag 'default-profile-photo.png' %>
      <div class="title-text">
        <%= chatroom.user.username %>
      </div>
      <% if any_message?(chatroom.chatroom_id) %>
        <div class="created-date">
          <%= get_created_at(chatroom.chatroom_id) %>
        </div>
        <div class="conversation-message">
          <%= truncate(get_content(chatroom.chatroom_id), length: 30) %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="new-message-container">
    <div class="addModalBtn">+</div>
  </div>
  <div class="chat-title">
    <span>Da1kun</span>
    <%= image_tag 'trash-logo.svg'%>
  </div>
  <div class="chat-message-list">
    <%= render 'chatrooms/message' %>
  </div>
  <%= form_for @message, url: messages_path, remote: true do |f| %>
    <%= image_tag 'attachment-logo.svg'%>
    <%= f.text_area :content, placeholder: "send a message", rows: "1", data: { text_area: @message} %>
    <%= f.hidden_field :chatroom_id, value: "5" %>
    <%= f.submit style: "display: none", data: {send: @message} %>
  </div>
  <% end %>
</div>

<%= render 'chatrooms/addModal' %>