<div class="header">
  Find Users
</div>
<div class="content user-list">
  <% if users.count != 0 %>
    <div class="ui middle aligned divided list">
      <% users.each do |user| %>
        <div class="item">
          <div class="right floated content">
            <%= form_for chatroom, url: chatroom_path do |f| %>
              <%= f.hidden_field :user_id, value: user.id %>
              <%= button_tag type: "submit", class: "ui labeled icon button" do %>
                  <i class="comment outline icon"></i>Add
              <% end %>
            <% end %>
          </div>
          <% if user.photo? %>
            <%= image_tag user.photo.url, class: "ui avatar image" %>
          <% else %>
            <%= image_tag 'default-profile-photo.png', class: "ui avatar image" %>
          <% end %>
          <div class="content">
            <%= user.username%>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    There is no users to add
  <% end %>
</div>
<div class="actions">
  <div class="ui black deny button">
    Close
  </div>
</div>